/* h1{
    font-family: futura-pt;
}
.blog-body{
    width: 100%;
    display: grid;
    /* grid-column: 1fr 1fr 1fr; */
    grid: auto-flow 1fr / 1fr 1000px 1fr;
    justify-content: left;
    align-content: left;
}

.article{
    grid-column-start: 2;
    margin: 0 auto; 
    vertical-align: left;
}

.pre-nxt-btn{
    margin: 16px;
    height: 30px;
}

.pre-btn{
    float: left;
    margin-left: 24px;
}

.nxt-btn{
    float: right;
    margin-right: 24px;
}

.left-side-bar{
    grid-column-start: 1;
    
    width: 80%;
}

.right-side-bar {
    grid-column-start: 3;
    background-color: lightslategrey;
    width: 100%;
}

.articleList{
    margin: 40px;
    margin-top: 100px;
    background-color: lightslategray;
}

.comment{
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 960px) {
    .blg{
        width: 80%;
        margin: 0 auto; 
        vertical-align: middle;
    }
}


/* body {
    margin-left: 5em;
    display: grid;
    grid: "header" 5em
          "nav   " 5em
          "main  " 20em
          "aside " 10em
          "footer" 5em /
          1fr;

    font-size: 1em;
}

@media screen and (min-width: 600px) {
    body {
        grid: "header header" 100px
              "nav    main  " 20em
              "aside  aside " 10em
              "footer footer" 5em /
              1fr 2fr;
    }
}

@media screen and (min-width: 800px) {
    body {
        grid: "header header header" 5em
              "nav    main   aside " 20em
              "footer footer footer" 5em /
              1fr 2fr 1fr;
    }
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }
 */ */